/* PRIMARY COLOR: 687eff
    SECONDARY COLOR: 80B3FF
    TERTITARY COLOR: 98E4FF
    CHABLE COLOR: B6FFFA    
*/

* {
  margin: 0;
  border: 2rem;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 1rem;
  font-size: 10px;
}

/* HEADER SECTION  */
header {
  background-color: #687eff;
  padding: 1rem 1rem;
}

/* TESTIMONIAL SECTION  */
.review-section {
  padding: 1.6rem 2rem;
  background-color: #687eff;
}

img {
  border-radius: 4rem;
  height: 5rem;
  width: auto;
}

.testimonials {
  display: grid;
  grid-template-columns: 1fr 1fr;
  row-gap: 4rem;
  column-gap: 5rem;
}

.testimonial-text {
  color: white;
}

.testimonial-name {
  color: white;
}
/* NAVBAR SETION  */

a.navbar-brand {
  font-size: 1.4rem;
  color: #98e4ff;
}

a.navbar-brand:visited {
  color: #98e4ff;
}

a.navbar-brand:hover {
  color: #80b3ff;
}

a.nav-link {
  font-size: 1.2rem;
  color: #98e4ff;
}

a.nav-link:visited {
  color: #98e4ff;
}

a.nav-link:hover {
  color: #80b3ff;
}

button.navbar-toggler {
  color: #b6fffa;
}

.navbar-toggler {
  color: #b6fffa;
}

/* CONTACT SECTION  */

.contact-section {
  padding: 1.6rem 3.2rem;
}

div.mb-3 {
  margin: 1rem;
}

.form-label {
  margin: 1rem 0.5rem;
}

button.btn {
  width: 100%;
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 28px;
  font-family: Georgia;
  color: #ffffff;
  font-size: 20px;
  background: #687eff;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

button.btn:hover {
  background: #566ee3;
  text-decoration: none;
  color: #b6fffa;
}

/* FOOTER SECTION  */

.footer-section {
  background-color: #687eff;
  padding: 1.6rem 1rem;
}

.nav-links {
  text-align: center;
}

.nav-item {
  margin: 0rem 1.5rem;
}

.bi {
  color: #98e4ff;
  font-size: 2rem;
}

@media only screen and (max-width: 450px) {
  .nav-links {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
  }
}
